*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Jersey 25';
    display: flex;

    background-color: rgba(250, 234, 231, 1);
    
    flex-direction: column;
    scroll-behavior: smooth;

}



.aa{
    font-size: 32px;
    background-color: rgba(150, 141, 110, 1);
    color: rgba(250, 234, 231, 1);
    padding: 3px;
    
    
}

#hh{
    margin-left: 80px;
}

.logo{
    position: absolute;
    height: 38px;
    background-color: rgba(150, 141, 110, 1);
    padding-left: 4px;
}


.purp1{
    background-color: rgba(106, 77, 98, 1);
    width: 1514px;
    padding: 2px;
}


.footer-main { 
    transform: translateY(2px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 32px;
    background-image: url("ground.PNG");
    color: rgba(250, 234, 231, 1);
    padding-top: 300px;
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 1518px;
    height: 523px;
    background-repeat: no-repeat;
    font-size: 32px;
}


#f {
    margin-bottom: 30px;
}

.part1{ 

    background-image: url(ack.png) ;
    background-repeat: no-repeat;
    height: max-content;
    
   
}

.wooh{
    width: 1412px;
    height: 640px;
    margin-left: 40px;

}



.pink{
    font-size: 40px;
    color: rgba(185, 141, 142, 1);
    background-color: rgba(185, 141, 142, 1);
    width: 1519px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: rgba(250, 234, 231, 1);
}

.o{
    background-color: rgba(233, 204, 203, 1);
    width: 300px;
    color: rgba(250, 234, 231, 1);
    font-size: 64px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    transition: 0.2s ease-in;
}


.o:hover{
    transform: scale(1.05);
}


.abme{
    background-image: url(mm.png);
    background-repeat: no-repeat;

}

.ugh{
    flex-direction: row;
    

}

.abmetitle{
    font-size: 96px;
    color: rgba(106, 77, 98, 1);
    margin-left: 230px;
}

.abmetxt{
    display: flex;
   

}
.abmetxt .text{
    color: rgba(133, 91, 119, 1);
    font-size: 42px;
    background-color: rgba(233, 204, 203, 1);
    border-radius: 1.5rem;
    width: fit-content;
    height: 520px;
    padding: 1.5rem;
    margin-left: 160px;


}
.abmetxt .jajaja{
    position: absolute;
    width: 546.17px;
    height: 1228.82;
    margin-top:  100px;
    z-index: 2;
    transform: translateX(530px) translateY(-70px);
    transform: rotate(34rem)
}


.greenab{
    font-size: 10px;
    background-color: rgba(150, 141, 110, 1);
    padding: 3px;

}



.cv{
    background-color:rgba(133, 91, 119, 1);
    width: 435px;
    height: 41;
    color: rgba(250, 234, 231, 1);
    font-size: 42px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin-left: 165px;
    transition: 0.2s ease-in;
}

.cv:hover{
    transform: scale(1.05);
}


.darkpink{
    background-color: rgba(140, 108, 108, 1);
}


.mywork{
    font-size: 20px;
    background-image: url(gahh.PNG);
    background-repeat: no-repeat;
    width: 1518px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.myworkbuttons{
    font-size: 80px;
    width: 580px;
    text-align: center;
    margin-left: 460px;
    justify-content: space-evenly;

}



.butt1{
    background-color: rgba(150, 141, 110, 1);
    border-radius: 15px;
    padding: 43px;
    transition: 0.2s ease-in;
}

.butt1:hover{
    transform: scale(1.05);
}

.butt2:hover{
    transform: scale(1.05);
}

.butt3:hover{
    transform: scale(1.05);
}

.butt4:hover{
    transform: scale(1.05);
}

.butt2{
    background-color: rgba(233, 204, 203, 1);
    border-radius: 15px;
    padding: 13px;
    color: rgba(133, 91, 119, 1);
    transition: 0.2s ease-in;
}



.butt3{
    background-color: rgba(185, 141, 142, 1);
    border-radius: 14px;
    padding: 13px;
    transition: 0.2s ease-in;
}

.butt4{
    background-color: rgba(133, 91, 119, 1);
    border-radius: 14px;
    padding: 13px;
    transition: 0.2s ease-in;
}

#b2{
  color: rgba(133, 91, 119, 1);
}

#b3{
    color:rgba(233, 204, 203, 1);
}





.up{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 260px;
    height: 45px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(133, 91, 119, 1);
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(133, 91, 119, 0.512);
    font-size: 40px;
    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
    z-index: 100;

}



#boom{
    color: rgba(250, 234, 231, 1);
}



@keyframes CSSscrollReveal{
    from{
        opacity: 0;
        transform: translateY(100px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}




.sotext{
    background-color: rgba(150, 141, 110, 1);
    display: flex;
    padding: 20px;
    font-size: 40px;
    justify-content: space-between ;

    text-align: center;

    padding-left: 30px;

}


.socials-box {
    display: flex;
    justify-content: left;
}

.socials-box img {
    margin-right: 20px;
}


#blsktxt{
    margin-left: 75px;
}

#yttxt{
    margin-left: 75px;
}

#twttxt{
    margin-left: 55px;
}

#ttvtxt{
    margin-left: 20px;
}

#igtxt{
    margin-left: 5px;
}




.sotext {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
  }



.pho{
    height: 80px;
    width: 80px;
    background-color: rgba(150, 141, 110, 1);  

}





.op{
    font-size: 20px;
}


.e{
    font-size: 3px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: rgba(250, 234, 231, 1);
}

.annnn{ 
    font-size: 23px;
}


.artitle{
    color: rgba(133, 91, 119, 1);
    font-size: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.artxt{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}


#dn2{
    margin-left: 204px;
}

#d9{
    margin-left: 314px;
}

#da{
    margin-left: 233px;
}

#dc{
    margin-left: 674px;
}

#dbl{
    margin-left: 78px;
}



#artrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}



.artrow1 img{
    height: 330px;
    border-radius: 4px;
    transition: 0.3s ease-in;
}


#artrow2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}



.artrow2 img{
    height: 310px;
    border-radius: 4px;
}



.dates{
    color: rgba(133, 91, 119, 1);
    font-size: 36px;
}

#artrow3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.artrow3 img{
    border-radius: 4px;

}

#real9{
    height: 453px;   
}


#silly{
    height: 453px;

}

#sqkitty{
    height: 453px;
}


#ughh{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}



#artrow4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1045px;

}

.artrow4 img{
    border-radius: 4px;

}

#rqswrd{
    height: 620px;
    border-radius: 4px;
}


#cora{
    height: 290px;
}
#bepo{
    height: 290px;
}
#chop{
    height: 290px;
}


#artrow5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


.artrow5 img{
    border-radius: 4px;
    height: 290px;

    
}

#js{
    margin-left: 40px;
}

.pt2txt{
    color: rgba(133, 91, 119, 1);
    font-size: 32px;
    padding: 2px;
}


.art{
    transition: 0.3s ease-in;
}

.artrow1:hover{
    transform: scale(1.15);
    box-shadow: 8px 8px 15px rgba(53, 12, 61, 0.273);
}



#rqswrd:hover{
    transform: scale(1.15);
    box-shadow: 8px 8px 10px rgba(53, 12, 61, 0.273);
}

.artrow2:hover{
    transform: scale(1.15);
    box-shadow: 8px 8px 10px rgba(53, 12, 61, 0.273);
}

.artrow3:hover{
    transform: scale(1.15);
    box-shadow: 8px 8px 10px rgba(53, 12, 61, 0.273);
}

.artrow4:hover{
    transform: scale(1.15);
    box-shadow: 8px 8px 10px rgba(53, 12, 61, 0.273);
}

.artrow5:hover{
    transform: scale(1.15);
    box-shadow: 8px 8px 10px rgba(53, 12, 61, 0.273);
}



.contm{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
    
}


.Cbig{
    background-color: rgba(133, 91, 119, 1);
    color: rgba(250, 234, 231, 1);
    font-size: 64px;
    width: 527px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    margin-left: 30px;
}


.commentsec{
    background-color: rgba(233, 204, 203, 1);
    color: rgba(133, 91, 119, 1);
    width: 587px;
    height: 603px;
    border-radius: 15px;
    font-size: 36px;
    text-align: center;
}


.cm{
    background-color: rgba(151, 139, 110, 1);
    color: rgba(250, 234, 231, 1);
    font-size: 64px;
    width: 369px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    margin-left: 37px;
}

.cmbox{
    background-color: rgba(233, 204, 203, 1);
    color: rgba(133, 91, 119, 1);
    text-align: center;
    width: 446px;
    height: 307px;
    border-radius: 15px;
    font-size: 42px;
    padding: 2px;
}

.comm{
    background-color: rgba(250, 234, 231, 1);
    width: 553px;
    border-radius: 15px;
    text-align: center;
    margin-left: 15px;
    height: 88px;

}

.photitle{
    color: rgba(133, 91, 119, 1);
    font-size: 130px;
    text-align: center;
}

.pholable{
    color: rgba(133, 91, 119, 1);
    font-size: 64px;
    text-align: center;
}

.cam{
    transition: 0.3s ease-in;
}

.cam img{

    border-radius: 5px;
}

.cam:hover{
    transform: scale(1.15);

}

.camera{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.camcolum1 .camcolum2 .camcolum3{
    display: flex;
    flex-direction: column; 
}



.camcol1 img{
    width: 511px;
}

.camcol2 img{
    width: 314px;
}

.camcol3 img{
    width: 511px;
}


.phone1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.camcolum12 .camcolum22 .camcolum32{
    display: flex;
    flex-direction: column; 
}



.camcol12 img{
    width: 407px;
}

.camcol22 img{
    width: 308px;
}

.camcol32 img{
    width: 622px;
}

.phone2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.resr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.two3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.four3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.a12 img{
    height: 448px;

}

.b12 img{
    height: 397px;
    margin-right: 15px;
}

.camcolum13 .camcolum23 .camcolum33{
    display: flex;
    flex-direction: column; 
}



.camcol13 img{
    width: 415px;
}

.camcol23 img{
    width: 461px;
}

.camcol33 img{
    width: 433px;
}



#wl{
    color:  color: rgba(250, 234, 231, 1);
}